<!DOCTYPE html>
<html>
    <head>
        <title>My third View!!</title>
    </head>
    <body>
      <%Today = Date.today.strftime("%A, %B %d, %Y")%>
      <p>The date is <%=Today%></p>
    </body>
</html>
